*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    color:#fff;
    overflow-x:hidden;
    background:
        radial-gradient(circle at top,#1d4ed8 0%,#0b1120 30%,#050816 70%,#02040a 100%);
    background-attachment:fixed;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(5,8,22,.80);
    backdrop-filter:blur(12px);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#00d9ff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#00d9ff;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px;
    background:transparent;
}

.hero h1{
    font-size:72px;
    color:#00d9ff;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
    color:#d6d6d6;
    max-width:700px;
    line-height:1.8;
}

.btn{

    margin-top:40px;

    padding:18px 45px;

    border-radius:50px;

    background:#00d9ff;

    color:#000;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.btn:hover{

transform:scale(1.08);

box-shadow:0 0 25px #00d9ff;

}

section{

padding:100px 10%;

}

.title{

font-size:40px;

margin-bottom:30px;

color:#00d9ff;

}

.card{

background:#11192f;

padding:35px;

border-radius:20px;

line-height:1.8;

margin-top:30px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 25px rgba(0,217,255,.4);

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}

footer{

text-align:center;

padding:60px;

color:#888;

border-top:1px solid #1b2b45;

}

@media(max-width:768px){

.hero h1{

font-size:48px;

}

.hero p{

font-size:18px;

padding:0 20px;

}

nav{

flex-direction:column;

}

nav ul{

margin-top:15px;

flex-wrap:wrap;

justify-content:center;

}

nav ul li{

margin:10px;

}

}
